#------------------------------------------------------------------------------
# This file provides server security limiting access to the localhost only.
# Update to your needs (e.g. commenting the following four lines will allow for external access)
#------------------------------------------------------------------------------

Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from ::1